body{
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
.mainc{
    height: 1000px;
    width: 100%;
    background: white;
}
.header{
    height: 100px;
    width: 100%;
    background: white;
}
.header1{
    margin: 30px;
}
.navBrand{
    font-weight: bold;
    font-size: 50px;
    margin-left: 0px;
}
.d-flex{
    margin-right: 50px;
}
.inpSearch{
    width: 500px;
}
.bg-body-tertiary{
    height: 100px;
}
.logo{
    margin-left: 50px;
}
.top-maincd{
    height: 40px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    background-color: #1F1B4C;
    display: flex;
    justify-content: center;
}
.topmain-textc{
    margin-left: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 8px;
}


/* HEADER ENDS */

/* CENTERC */

.centerc5{
    width: 100%;
    height: 100%px;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.imagec img{
    margin-top: 30px; 
   border-radius: 5px;
}
.imageTitlec{
    margin-top: 50px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
}
.imageTitlec p{
    font-size: 28px;
    line-height: 36px;
    font-weight: 510;
}
.cardscd{
    display: flex;
    justify-content: start;
}
.card-images-shopByteams img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.card-images-shopByteams{
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.center-items5{
    height: 100%px;
    width: 100%;
    background:white;
    display: flex;
}
.amain-card5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.acard-image5{
    margin-top: 40px;
    height: 400px;
}
.cardImage5{
    transition: 0.5s all ease-in-out;
    height: 100%;
    width: 100%;
}
.cardImage5:hover{
    transform: scale(1.25);
}
.card5{
    outline: none;
    border: 10px bold black;
}
.acard-button5{
    background: black;
    width: 100%;
    font-size: 20px;
}
/* CENTERC ENDS*/

/* FOOTER */

.footer{
    
    height: 100px;
    width: 100%;
    background: white;
    padding-top: 20px;
    display:'flex';
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-bottom: 400px;
}
.footer-logo{
    height: 30px;
    width: 30px;
}
.footer-links{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}
/* FOTTER ENDS */